extends layout

block content
  .content
    .container
      .hero
        .hero-body
          h1.is-2.title= title
          p.subtitle We generate hackathon teams based on students' interests

      .columns
        .column
        .column
          .button.is-large#common Common Interests
        .column
          .button.is-large#different Different Interests
        .column
      
      #teams

    //- 
    script(src="javascripts/getTeam.js")
    script(src="javascripts/updates.js")