extends layout

block content
  .content
    .container
      h1= title
      p We generate a hackathon team based on students' interests
      //- .button#test TEST

      .columns
        .column
        .column
          .button.is-large#common Common Interests
        .column
          .button.is-large#different Different Interests
        .column
      
      #teams

    //- 
    script(src="javascripts/getTeam.js")
    script(src="javascripts/updates.js")