@import "bulma.css";
body {
    background-color: #2d5384;
    background: linear-gradient(to bottom right, #2d5384, #447bbe);
}

.container,
#teams,
.hero,
.section {
    background: rgba(0, 0, 0, 0);
}

#maintitle,
p.subtitle,
.title,
.subtitle {
    color: #ffffff;
}

.Software {
    background-color: #b4d6e0;
    color: white;
}

.Software .title,
.Software .subtitle {
    color: #2d5384;
}

.Hardware {
    /*background-color: #c1212d;*/
    background-color: #ec7981;
    color: white !important;
}

.Business {
    background-color: #df1f2d;
}